services:
    -
        class: PrinsFrank\PhpValidatedPropertiesPhpStan\Extension\ModelPropertiesReflectionExtension
        tags:
            - phpstan.broker.propertiesClassReflectionExtension
rules:
    - PrinsFrank\PhpValidatedPropertiesPhpStan\Rule\NoPublicPropertiesOnModelRule
